<app-navbar></app-navbar>
<div class="content col-xxl-6 offset-xxl-3 col-xl-8 offset-xl-2">
  <div class="d-flex justify-content-center mb-4">
    <h2>{{ sensor.name }}</h2>
  </div>

  <div class="d-flex mb-4">
    <div class="card shadow-sm flex-fill">
      <div class="card-header d-flex justify-content-between align-items-center">
        <div>Mediciones en tiempo real</div>
        <div class="btn btn-primary btn-sm">Avanzado</div>
      </div>
      <div class="card-body d-flex flex-column">        
        <plotly-plot *ngIf="graph" [data]="graph.data" [layout]="graph.layout"></plotly-plot>           
        <div class="d-flex justify-content-center" *ngIf="measures_data" style="font-size: 13px">
          <div class="resume-plot-data">
            <span class="title">Umbrales</span><br>
            <div>
              <span class="subtitle">Aviso: </span>
              <span class="data">
                {{measures_data.thresholds.adv1.value}}{{sensor.type_sensor_unit}} y {{measures_data.thresholds.adv2.value}}{{sensor.type_sensor_unit}}
              </span>
            </div>
            <div>
              <span class="subtitle">Alerta: </span>
              <span class="data">
                {{measures_data.thresholds.ale1.value}}{{sensor.type_sensor_unit}} y {{measures_data.thresholds.ale2.value}}{{sensor.type_sensor_unit}}
              </span>
            </div>            
          </div>
          <div class="resume-plot-data">
            <span class="title">Historicos</span><br>
            <div>
              <span class="subtitle">Max: </span>
              <span class="data" *ngIf="measures_data.historical;else noMaxValue">
                {{measures_data.historical.maxValue.value}}{{sensor.type_sensor_unit}} el {{measures_data.historical.maxValue.timestamp | date : "medium"}}
              </span>
              <ng-template #noMaxValue>
                <span class="data">
                  No hay información disponible.
                </span>              
              </ng-template>
            </div>
            <div>
              <span class="subtitle">Min: </span>
              <span class="data" *ngIf="measures_data.historical;else noMinValue">
                {{measures_data.historical.minValue.value}}{{sensor.type_sensor_unit}} el {{measures_data.historical.minValue.timestamp | date : "medium"}}
              </span>
              <ng-template #noMinValue>
                <span class="data">
                  No hay información disponible.
                </span>              
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="d-flex mb-4">
    <div class="card shadow-sm flex-fill">
      <div class="card-header">
        Detalles del sensor
      </div>
      <div class="card-body">
        <div class="d-flex">
          <div class="col-sm-4">
            <ul class="list-group list-group-flush general-info">              
              <li class="list-group-item info-item">
                <span class="info-title">Instalado el</span><br>
                <span class="info-data">{{ sensor.installation_date | date : 'fullDate' }}</span>
              </li>
              <li class="list-group-item info-item">
                <span class="info-title">Tipo de sensor </span><br>
                <span class="info-data">{{ sensor.type_sensor_name }}</span>
              </li>
              <li class="list-group-item info-item">
                <span class="info-title">Unidad de medida</span><br>
                <span class="info-data">{{ sensor.type_sensor_unit }}</span>
              </li>
              <li class="list-group-item info-item" [hidden]="!sensor.commentary">
                <span class="info-title">Comentario</span><br>
                <span class="info-data">{{ sensor.commentary }}</span>
              </li>            
            </ul>
          </div>
          <div class="col">
            <div>
              <img *ngIf="sensor.photo" src="/static/images/sensor/{{ sensor.photo }}" width="100%" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  
  
</div>
