<app-navbar></app-navbar>
<div class="content col-xxl-6 offset-xxl-3 col-xl-8 offset-xl-2">
  <div class="d-flex justify-content-center mb-4">
    <h2>{{ structure.name }}</h2>
  </div>

  <div class="d-flex mb-4">
    <div class="card shadow-sm flex-fill">
      <div class="card-header">
        Sensores
      </div>
      <div class="card-body d-flex">
        <div class="col-sm-4">              
          <ul class="list-group list-group list-group-flush">
            <a class="list-group-ite" 
              *ngFor="let sensor of sensors" 
              [routerLink]="['sensor', sensor.id]" 
              [ngClass]="{'list-group-item-success': sensor.adv_count == 0 && sensor.ale_count == 0, 'list-group-item-warning': sensor.adv_count > 0, 'list-group-item-danger': sensor.ale_count > 0}">
                {{ sensor.name }}
            </a>
          </ul>
        </div>
        <div class="col">
          <img src="..\assets\puente.png" class="rounded mx-auto d-block" width="100%" alt="">
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex mb-4">
    <div class="card shadow-sm flex-fill">
      <div class="card-header">
        Información
      </div>
      <div class="card-body">
        <div class="d-flex">
          <div class="col-sm-4">
            <ul class="list-group list-group-flush">              
              <li class="list-group-item">Fecha ingreso: {{ structure.date_joined }}</li>
              <li class="list-group-item">Región</li>
              <li [hidden]="!structure.commentary" class="list-group-item">Comentario: {{structure.commentary}}</li>
            </ul>
          </div>
          <div class="col">
            <div>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d196079.27241727107!2d-73.30583034676145!3d-39.83527736591571!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9615e94f20de4501%3A0x89b7301051537813!2sValdivia%2C+Regi%C3%B3n+de+los+R%C3%ADos!5e0!3m2!1ses-419!2scl!4v1534790525970" width="100%" height="50%" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  
</div>
