<app-navbar></app-navbar>
<div class="content col-xl-6 offset-xl-3">
  <div class="d-flex justify-content-center mb-4">
    <h2>
      Nombre Estructura
    </h2>
  </div>

  <div class="d-flex mb-4">
    <div class="card shadow-sm flex-fill">
      <div class="card-header">
        Información
      </div>
      <div class="card-body">
        <div class="d-flex">
          <div class="col-sm-4">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Fecha ingreso</li>
              <li class="list-group-item">Región</li>
              <li class="list-group-item">Comentario</li>
            </ul>
          </div>
          <div class="col">
            <div style="height: 500px;">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d196079.27241727107!2d-73.30583034676145!3d-39.83527736591571!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9615e94f20de4501%3A0x89b7301051537813!2sValdivia%2C+Regi%C3%B3n+de+los+R%C3%ADos!5e0!3m2!1ses-419!2scl!4v1534790525970" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex mb-4">
    <div class="card shadow-sm flex-fill">
      <div class="card-header">
        Sensores
      </div>
      <div class="card-body d-flex">
        <div class="col-sm-4">              
          <ul class="list-group list-group list-group-flush">
            <a class="list-group-item list-group-item-warning" [routerLink]="['/sensor']">Sensor 1</a>
            <a class="list-group-item list-group-item-danger" [routerLink]="['/sensor']">Sensor 2</a>
            <a class="list-group-item list-group-item-success" [routerLink]="['/sensor']">Sensor 3</a>
            <a class="list-group-item list-group-item-success" [routerLink]="['/sensor']">Sensor 4</a>
          </ul>
        </div>
        <div class="col">
          <img src="..\assets\puente.png" class="rounded mx-auto d-block" width="100%" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
